@import url(root.css);

body {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-family: var(--content-font-family);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.bread-crumb {
  align-self: flex-start;
  margin-left: 1rem;
  font-size: 0.6rem;
}

.bread-crumb__prev-link {
  text-decoration: underline;
  color: var(--text-sec-clr);
}

.product {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0.5rem 0 0.5rem;
  /* margin-bottom: 1rem; */
  /* outline: 2px solid black; */
  gap: 1rem;
}

.img__preview img {
  width: 170px;
}



.img__thumbnail img {
  width: 50px;
  cursor: pointer;
  transition: opacity 500ms linear;
}

.img__thumbnail img[data-selected="true"] {
  opacity: 1;
}

.img__thumbnail img[data-selected="false"] {
  opacity: 0.5;
}

.product__meta {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.meta__price {
  color: var(--text-highlight-clr);
  font-weight: bold;
}

.product__order-section {
  display: flex;
  align-self: flex-start;
  gap: 0.5rem;
}

.order-section__quantity {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.quantity__decrement-btn, .quantity__increment-btn {
  padding: 0.6rem 0.6rem;
  outline: none;
  border: none;
  border-radius: 0.3rem;
}

.order-section__add-product-btn {
  background-color: var(--bg-qua-clr);
  border: none;
  padding-inline: 4rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.disable-btn {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}


.product__additional-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.additional-info__selection {
  display: flex;
  align-items: center;
  justify-content: center;
  /* outline: 2px solid red; */
}

.selection__content {
  width: 50%;
  text-align: center;
  cursor: pointer;
  outline: 1px solid rgba(0,0,0,0.5);
}

.selection__content {
  transition: all 500ms ease-in-out;
}

.selection__content[data-selected="true"] {
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 1);
  background-color: var(--bg-sen-clr);
}

.content__text[data-display="false"] {
  display: none;
}







.product__social-media {
  align-self: flex-start;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.social-media__link a{
  color: var(--bg-pri-clr);
  font-size: 20px;
}