@import url(root.css);

body {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-family: var(--content-font-family);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bread-crumb {
  align-self: flex-start;
  margin-left: 1rem;
  font-size: 0.6rem;
}

.bread-crumb__prev-link {
  text-decoration: underline;
  color: var(--text-sec-clr);
}

section {
  /* outline: 2px solid black; */
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.product-category {
  gap: 1rem;
}

.product__sort-by {
  align-self: flex-end;
  width: 80px;
  margin-right: 0.5rem;
}

.sort-by__menu {
  width: 100%;
  font-size: 0.6rem;
  text-align: center;
  padding-block: 0.2rem;
  border-radius: 0.5rem;
}

.product-category__options {
  width: 100%;
  display: flex;
  overflow: auto;
  justify-content: flex-start;
  gap: 2rem;
  /* outline: 2px solid orange; */
  padding-inline: 0.5rem;
}

.product-category__options::-webkit-scrollbar {
  display: none;
}



.option__board-game, .option__card-game, .option__role-playing {
  width: 78px;
  aspect-ratio: 0.8;
  /* outline: 2px solid red; */
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--bg-sec-clr);
  border-radius: 15px;
  padding-block: 0.625rem;
}

.option__board-game img {
  width: 100%;
}

.option__card-game img {
  width: 60%;
}

.option__role-playing img {
  width: 50%;
}


.product {
  /* outline: 2px solid black; */
}

.product__options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.option__item {
  width: 30%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 1px solid black;
  margin-block: 1rem;
  padding: 0.5rem;
  padding-top: 1.5rem;
  border-radius: 1rem;
  background-color: var(--bg-ter-clr);
}

.option__item img {
  width: 55%;
}

.option__item p {
  font-size: 0.5rem;
  margin-block: 0.25rem;
}

.option__item p:nth-of-type(2) {
  color: var(--text-highlight-clr);
  font-weight: bold;
}

.option__item button {
  padding: 0.2rem 0.5rem;
  font-size: 0.5rem;
  border-radius: 1rem;
  background-color: var(--bg-qua-clr);

}

.product__load-pages {
  margin-block: 1rem;
}

.load-pages__btn {
  padding: 0.5rem 3rem;
  border-radius: 0.5rem;
  border: 1px solid var(--bg-pri-clr);
  background-color: var(--bg-sec-clr);
}