@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@font-face {
  font-family: Hobo Std;
  src: url("./res/HoboStd.otf");
}

:root {
  --logo-font-family: Hobo St, sans-serif;
  --heading-font-family: 'Poppins', sans-serif;
  --content-font-family:  var(--heading-font-family);
  --text-highlight-clr: #DA0101;
  --text-pri-clr: #3b3a3a;
  --text-sec-clr: #91bd60;
  --text-ter-clr: #ffffff;
  --bg-pri-clr: #292929; 
  --bg-sec-clr: #bcef82;
  --bg-ter-clr: #fff8e0;
  --bg-qua-clr: #ffcc30;
  --bg-qui-clr: #2c9cdb;
  --bg-sen-clr: #e9e9e9;
  --heading-font-size: 1.8rem;
  --heading-font-size--md: 1.6rem;
  --heading-font-size--sm: 1.3rem;
  --content-font-size: 1.4rem;
  --content-font-size--md: 1.2rem;
  --content-font-size--sm: 1rem; 
  --btn-font-size: 1.6rem;
  --btn-font-size--md: 1.4rem;
  --btn-font-size--sm: 1.2rem;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}