@import url(root.css);


body {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-family: var(--content-font-family);
}

header {
  width: 100%;
  background-color: var(--bg-pri-clr);
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  padding: 0.8rem 0.6rem;
  gap: 0.3rem;
  /* position: fixed; */
}

h2 {
  font-size: 1rem;
}

p, button {
  font-size: 0.6rem;
}

.header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-section__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__img {
  width: 40px;
  aspect-ratio: 1.2;
}

.logo__title {
  
  color: var(--text-sec-clr);
  /* unable to load Hobo Std font */
  font-family: var(--heading-font-family);
  font-size: 1.3rem;
}

.header-section__tools {
  width: 20%;
}

.tools__functions {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.search__icon, .user__icon, .cart__icon {
  font-size: 1rem;
  color: var(--text-ter-clr);
}

.cart__icon {
  display: inline-block;
  position: relative;
}

.cart-occupied::before {
  content: '';
  position: absolute;
  width: 10px; 
  aspect-ratio: 1;
  background-color: red;
  z-index: 10;
  top: 0;
  right: -5px;
  border-radius: 50%;

}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.8rem;
  aspect-ratio: 1;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.nav-bar__btn {
  /* position: relative; */
  width: 1.6rem;
  height: 0.2rem;
  background-color: var(--bg-ter-clr);
  border-radius: 0.5rem;
  transition: all 500ms ease-in-out;
}

.nav-bar__btn::before, .nav-bar__btn::after {
  content: '';
  position: absolute;
  width: 1.6rem;
  height: 0.2rem;
  background-color: var(--bg-ter-clr);
  border-radius: 0.5rem;
  transition: all 500ms ease-in-out;
}

.nav-bar__btn::before {
  top: 15%;
}

.nav-bar__btn::after {
  top: calc(85% - 0.2rem);
} 

nav[data-expand="true"] .nav-bar__btn {
  transform: translateX(-1.8rem);
}

nav[data-expand="true"] .nav-bar__btn::before {
  transform: translateX(1.75rem) rotate(45deg);
} 

nav[data-expand="true"] .nav-bar__btn::after {
  transform: translateX(1.75rem) rotate(-45deg);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.order-panel {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
}

.order-summary {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 0.5rem;
}



.order-summary__header, .order-summary__product {
  display: grid;
  width: 100%;
  grid-template-columns: 35% 15% 20% 15%;
  justify-content: space-between;
}

.order-summary__header h2 {
  font-size: 0.8rem;
}

.order-summary__product span, .quantity__reset {
  font-size: 0.6rem;
  color: var(--text-pri-clr);
}

.quantity__reset {
  text-decoration: underline;
  cursor: pointer;
}

.product__detail {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.product__price, .product__quantity, .product__total {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.product__quantity {
  align-items: center;
}

.product__total span {
  font-weight: bold;
}

.quantity__control {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* apply paddding to centerlize/align the quality control panel with other elements */
  padding-top: 1rem; 
}

.quantity__decrement-btn, .quantity__increment-btn {
  padding: 0.6rem 0.6rem;
  outline: none;
  border: none;
  border-radius: 0.3rem;
}

.order-summary__save-btn {
  padding: 0.6rem 0.6rem;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  width: 40%;
  text-align: center;
  background-color: orange; 
  /* for now orange */
}

.order-requirement {
  width: 85%;
}

.order-requirement__msg, .order-requirement__textarea {
  font-size: 0.6rem;
}

.order-requirement__textarea {
  width: 100%;
  aspect-ratio: 5/1;
  padding: 0.4rem 0.3rem;
  resize: none;
  border-radius: 0;
  border: 1px solid var(--bg-pri-clr);
  margin-top: 0.5rem;
  font-family: var(--text-font-family);
}

.order-finale {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.order-finale__total {
  align-self: flex-start;
  font-size: 0.8rem;
}

.order-finale__subtotal {
  width: 90%;
  display: flex;
  justify-content: space-between;
}


.order-finale__subtotal h3 {
  font-size: 0.6rem;
  font-weight: bold;
}

.subtotal__price {
  color: var(--text-highlight-clr);
}

.order-proceed {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.order-proceed__continue-btn, .order-proceed__checkout-btn {
  width: 45%;
  text-align: center;
  padding: 0.7rem 0.4rem;
  border-radius: 0.2rem;
  border: none;
  outline: none;
}

.order-proceed__continue-btn {
  background-color: var(--bg-qua-clr);
}

.order-proceed__checkout-btn {
  background-color: var(--bg-qui-clr);
  color: var(--text-ter-clr);
}

.order-recommendation {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-recommendation h2 {
  font-size: 0.8rem;
  align-self: flex-start;
}

.order-recommendation__product-list {
  width: 100%;
  padding-inline: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.order-recommendation__product-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-list__item {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.item__meta h3, .item__meta span {
  font-size: 0.6rem;
}

.item__meta h3 {
  font-weight: bold;
}

.product-list__add-btn {
  width: 38%;
  font-size: 0.6rem;
  text-align: center;
  padding: 0.7rem 0.4rem;
  border-radius: 0.2rem;
  border: none;
  outline: none;
  background-color: var(--bg-qua-clr);
}












footer {
  background-color: var(--bg-pri-clr);
  color: var(--text-ter-clr);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscription {
  width: 100%;
  /* outline: 2px solid white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 3.5rem;
  gap: 0.4rem;
}

.subscription__content {
  /* outline: 2px solid white; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}


.content__email, .content__btn {
  font-size: 0.6rem;
  border-radius: 0.3rem;
}

.content__email {
  color: var(--text-pri-color);
  width: 200px;
  background-color: var(--bg-sen-clr);
  line-height: 1.4;
  padding-inline: 0.2rem;
  
}

.content__btn {
  color: inherit;
  line-height: 1.4;
  padding-inline: 0.6rem;
  background-color: var(--bg-pri-clr);
  border-color: #fff;
}


.short-cut {
  align-self: flex-start;
  /* outline: 2px solid white; */
  width: 100%;
  /* padding-inline: 1.5rem; */
}

.short-cut__category {
  display: flex;
  flex-direction: column;
}

.category__drop-down-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  border-top: 1px solid white;
  position: sticky;
}

.category__drop-down-links {
  padding: 0.5rem 1.5rem;
  border-top: 1px solid white;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
  display: none;
}


.drop-down-links__option {
  color: var(--text-ter-clr);
}

.expand-drop-down + .category__drop-down-links {
  display: flex;
}

@media (min-width: 567px) {
  body {
    background-color: red;
  }
}

